@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #0d1a21 !important;
}
.card {
	background-color: #eae8e9 !important;
	margin-bottom: 10px;
}
.heading {
	text-align: center;
}
.container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 3rem;
	align-items: center;
	height: 100vh;
	flex-wrap: wrap;
}
img {
	background-size: cover;
	height: 200px;
	width: 170px;
}
.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	margin-top: 3px;
}

.popup {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
}
.popup:target {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s;
}
.popup__close:link,
.popup__close:visited {
	color: #777;
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	font-size: 3rem;
	text-decoration: none;
	display: inline-block;
	transition: all 0.2s;
}
.popup__close:hover {
	color: #55c57a;
}

.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 33rem;
	background-color: #fff;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	padding: 49px;
	flex-direction: column;
}
.popup__text {
	font-size: 1.4rem;
	margin-bottom: 4rem;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.popup__close:hover {
	color: #55c57a;
}

@media (min-width: 320px) and (max-width: 376px) {
	.popup__text {
		font-size: 0.65rem;
		margin-bottom: 1rem;
	}
	.popup__close:link,
	.popup__close:visited {
		top: 1rem;
		right: 1.5rem;
		font-size: 2rem;
	}
	.popup-content {
		padding: 17px;
	}
}
@media (min-width: 376px) and (max-width: 500px) {
	.popup__close:link,
	.popup__close:visited {
		top: 1rem;
		right: 1.5rem;
		font-size: 2rem;
	}
	.popup__text {
		margin-bottom: 1rem;
		font-size: 0.7rem;
	}
	.popup-content {
		padding: 18px;
	}
}
@media (min-width: 500px) and (max-width: 590px) {
	.popup__text {
		margin-bottom: 0.9rem;
		font-size: 0.8rem;
	}
	.popup-content {
		padding: 15px;
	}
	.popup__close:link,
	.popup__close:visited {
		top: 1rem;
		right: 1.5rem;
		font-size: 2rem;
	}
}
@media (min-width: 590px) and (max-width: 768px) {
	.popup__close:link,
	.popup__close:visited {
		top: 0.6rem;
		right: 0.9rem;
		font-size: 2rem;
	}
	.popup__text {
		margin-bottom: 1rem;
		font-size: 0.9rem;
	}
	.popup-content {
		padding: 18px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.popup__text {
		font-size: 0.9rem;
	}

	.popup-content {
		margin-bottom: 10px;
	}
	.popup__close:link,
	.popup__close:visited {
		top: 1rem;
		right: 1.5rem;
		font-size: 2rem;
	}
}
@media (min-width: 1024px) and (max-width: 1800px) {
	.popup__text {
		font-size: 1rem;
	}

	.popup-content {
		margin-bottom: 10px;
	}
	.popup__close:link,
	.popup__close:visited {
		top: 1rem;
		right: 1.5rem;
		font-size: 2rem;
	}
}
.h1 {
	color: #77ac02 !important;
	margin-top: 55px !important;
}

.card-body {
	padding: 0px !important;
}
.btn-11 {
  border: none;
  background: rgb(49, 244, 31) !important;
    background: linear-gradient(0deg, rgb(11, 214, 11) 0%, rgb(88, 225, 73) 100%) !important;
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .8;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(133, 255, 76, 0.3),
              -4px -4px 6px 0 rgba(53, 188, 46, 0.2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(84, 45, 45, 0.2);
}
.btn1{
	background: linear-gradient(0deg, rgb(176 13 51) 0%, rgb(229 35 61) 100%) !important;
	
}
.btn2{
	    background: linear-gradient(0deg, rgb(39 191 230) 0%, rgb(39 191 230) 100%) !important;
}
.btn3{
	    background: linear-gradient(0deg, rgb(251 196 18) 0%, rgb(250 196 19) 100%) !important;
}
.btn4{
	    background: linear-gradient(0deg, rgb(223 88 26) 0%, rgb(217 87 39) 100%) !important;
}
.btn5{
	    background: linear-gradient(0deg, rgb(253 157 36) 0%, rgb(253 157 36) 100%) !important;
}
button {
  margin: 0px;
}.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1) ;
  outline: none;
}

@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
.custom-btn a{
	text-decoration: none;
	color: white;
}