@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #0d1a21;
}
.main {
	display: flex;
	flex-direction: row;
}
.row {
	padding: 50px;
	width: 50%;
}
.card {
	background-color: #0d1b29;
	box-shadow: inset -114px 108px 148px 2px rgba(53, 230, 37, 0.432);
	border-radius: 10px;
}
.card h3 {
	font-size: 2rem;
	padding-top: 1rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;
	padding-right: 2rem;
}
.card p {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-bottom: 2rem;
	padding-right: 2rem;
	color: #c0c1bc;
	font-size: 1.2rem;
}
.heading {
	display: flex;
	justify-content: center;
	padding: 2rem;
	font-size: 2rem;
	color: #77ac02;
}
@media (max-width: 769px) {
	.main {
		flex-direction: column;
	}
	.row {
		width: 100%;
	}
}
@media (min-width: 319px) and (max-width: 426px) {
	.card h3 {
		font-size: 1rem;
		padding-top: 0.5rem;
		padding-left: 1rem;
		padding-bottom: 0.1rem;
		padding-right: 1rem;
	}
	.row {
		padding: 10px;
	}
	.card p {
        font-size: .8rem;
        padding-top: .2rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	}
    .heading{
        font-size: 1rem;
    }
}
