@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	min-height: 1000px;
	background-color: #0d1a21;
}
p {
	font-weight: 300;
	color: #fff;
}
.about {
	background-color: #0d1a21;
	color: #c0c1bc;
}
#schedule {
	background-color: #0d1a21;
	padding-bottom: 1rem;
}

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0d1a21;
	overflow: hidden;
}
.banner .content {
	max-width: 900px;
	text-align: center;
}

.banner .content h2 {
	font-size: 5em;
	color: #fff;
	text-shadow: 3px 3px 0px #77ac02;
	animation: textDance 0.8s infinite;
}
@keyframes textDance {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.3deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-0.3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.menutoggle {
	color: rgb(36, 36, 36);
}
.banner .content h2 span {
	color: #77ac02;
	text-shadow: none;
}
.banner .content h2 p {
	font-size: 1em;
	color: #fff;
}
.btn {
	font-size: 1em;
	color: #fff;
	background-color: #77ac02;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}
.reg {
	font-size: 1em;
	color: #fff;
	background-color: #77ac02;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	border-radius: 10px;
	border: 1px solid #0d1b29;
	animation: textDance1 0.8s infinite;
}
@keyframes textDance1 {
	0% {
		transform: rotate(9deg);
	}
	25% {
		transform: rotate(0.3deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-0.3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.btn:hover {
	letter-spacing: 6px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
	transition: 0.5s;
}
header.sticky {
	background-color: #77ac02;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
header .navigation {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
header .navigation li {
	list-style: none;
	/* margin-left: 30px; */
}
header .navigation li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}
header.sticky .navigation li a {
	color: #111;
}
header.sticky .menutoggle {
	color: #fff;
	outline: none;
}
header .navigation li a:hover {
	color: #fff;
}
section {
	padding: 61px;
}
.row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.row .col50 {
	position: relative;
}
.title_text {
	color: #c0c1bc;
	font-size: 2em;
	font-weight: 300;
}
.title_text span {
	color: #77ac02;
	font-weight: 700;
	font-size: 1.3em;
}
.row .col50 p {
	color: #c0c1bc;
	font-weight: 500;
}
.row .col50 .imgbox {
	position: relative;
	width: 100%;
	min-height: 100%;
}

.row .col50 .imgbox img {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.title {
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: flex-end;
	flex-direction: column;
}

.copyrighttext {
	text-align: center;
	background-color: #77ac02;
	border-top: 5px solid #0d1b29;
}
.copyrighttext p {
	color: #111;
}

@media (max-width: 991px) {
	header,
	header.sticky {
		padding: 5px 10px;
	}
	header .navigation {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 60px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #77ac02;
		clip-path: circle(0% at 5% 0%);
		transition: 1s ease;
	}
	header .navigation.active {
		clip-path: circle(110% at 50% 50%);
	}
	header .navigation li {
		list-style: none;
		margin-left: 0;
	}
	header .navigation li a {
		text-decoration: none;
		color: #111;
		font-size: 1.6em;
		font-weight: 300;
		transition: all 0.3s;
		outline: none;
	}
	.menutoggle {
		position: relative;
		width: 30px;
		height: 30px;
		color: #fff;
		margin: 10px;
		font-size: 30px;
		cursor: pointer;
	}
	header.sticky .menutoggle {
		color: #111;
	}
	section {
		padding: 20px;
	}
	.banner .content h2 {
		font-size: 2.5em;
		color: #fff;
	}
	.row {
		flex-direction: column;
	}

	.row .col50 .imgbx {
		height: 300px;
		margin-top: 20px;
	}

	.copyrighttext {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.copyrighttext p {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.banner .content h2 {
		font-size: 2em;
		color: #fff;
	}
	.banner .content p {
		font-size: 15px;
	}
}

.start-time {
	display: flex;
	color: #fff;
	justify-content: center;
}
.clock {
	text-shadow: 3px 3px 3px #77ac02;
}
.start-time div {
	flex-basis: 100px;
}
.start-time div p {
	font-size: 60px;
	margin-bottom: -14px;
}
.rocket {
	width: 180px;
	position: absolute;
	right: 10%;
	bottom: 0;
	animation: rocket 4s linear infinite;
}
@keyframes rocket {
	0% {
		bottom: 0;
		opacity: 0;
	}
	100% {
		bottom: 105%;
		opacity: 1;
	}
}
.skewedOne {
	position: absolute;
	bottom: -100%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: #77ac02;
	transform: skewY(-15deg);
	transform-origin: top left;
}
.skewedTwo {
	position: absolute;
	bottom: -100%;
	right: 50%;
	width: 100%;
	height: 100%;
	background-color: #77ac02;
	transform: skewY(15deg);
	transform-origin: top right;
}

@media (max-width: 350px) {
	.banner .content h2 {
		font-size: 1.7em;
		color: #fff;
	}
}
@media (max-width: 380px) {
	.banner .content h2 {
		font-size: 1.7em;
		color: #fff;
	}
}

.copyrighttext .socialMedia {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: rgb(31, 31, 31);
	font-size: 28px;
	text-decoration: none;
}

.copyrighttext hr {
	width: 100%;
}
@media (max-width: 426px) {
	.rocket {
		width: 80px;
	}
	.start-time div {
		flex-basis: 200px;
		padding: 0px;
		font-size: x-small;
	}
	.clock {
		text-shadow: 1px 1px 1px #77ac02;
	}
	.start-time div p {
		font-size: 5px;
		margin-bottom: 1px;
	}
	.banner .content h2 {
		text-shadow: 2px 2px 0px #77ac02;
	}
}

@media (min-width: 769px) {
	.fa-bars::before {
		display: none;
	}
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: #0d1a21;
}
.timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.timeline ul {
	list-style: none;
}
.timeline ul li {
	padding: 20px;
	background-color: #0d1b29;
	color: #77ac02;
	border-radius: 10px;
	margin-bottom: 20px;
}
.timeline ul li:last-child {
	margin-bottom: 0;
}
.timeline-content h1 {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 10px;
}
.timeline-content p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	color: #c0c1bc;
}
.timeline-content .date {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.time {
	color: grey;
	float: right;
	font-weight: 400;
	font-size: 20px;
}
@media only screen and (min-width: 768px) {
	.timeline:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: 100%;
		background-color: gray;
	}
	.timeline ul li {
		width: 50%;
		position: relative;
		margin-bottom: 50px;
	}
	.timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-30px);
		border-radius: 20px 0px 20px 20px;
	}
	.timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(30px);
		border-radius: 0px 20px 20px 20px;
	}
	.timeline ul li::before {
		content: "";
		position: absolute;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: gray;
		top: 0px;
	}
	.timeline ul li:nth-child(odd)::before {
		transform: translate(50%, -50%);
		right: -30px;
	}
	.timeline ul li:nth-child(even)::before {
		transform: translate(-50%, -50%);
		left: -30px;
	}
	.timeline-content .date {
		position: absolute;
		top: -30px;
	}
	.timeline ul li:hover::before {
		background-color: #77ac02;
	}
}
.faq {
	width: 104%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.faqs {
	max-width: 900px;
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.5px solid #408051;
	cursor: pointer;
	width: 80%;
}
.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question h3 {
	font-size: 1.3rem;
	font-weight: 400;
	color: #77ac02;
}
.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.4s ease;
}
.answer p {
	padding-top: 1rem;
	line-height: 1.6rem;
	font-size: 0.9rem;
	color: #c0c1bc;
}

.faqs.active .answer {
	max-height: 300px;
	animation: fade 1s ease-in-out;
}

.faqs.active svg {
	transform: rotate(180deg);
}
svg {
	transition: transform 0.5s ease-in;
}

@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
.aboutph3 {
	font-size: 20px;
}
.aboutph {
	color: #77ac02;
	font-size: 23px;
}
@media (max-width: 320px) {
	.timeline-content h2 {
		font-size: 1.2rem;
		font-weight: 400;
	}
	.time {
		font-size: 1rem;
	}
}
@media only screen and (min-width: 321px) and (max-width: 376px) {
	.timeline-content h2 {
		font-size: 1.3rem;
		font-weight: 400;
	}
	.time {
		font-size: 1.1rem;
	}
}
@media only screen and (min-width: 376px) and (max-width: 426px) {
	.timeline-content h2 {
		font-size: 1.3rem;
		font-weight: 400;
	}
	.time {
		font-size: 1.1rem;
	}
	
}
@media (max-width:426px){
	.timeline ul li{
		padding-bottom: 30px;
	}
}
@media (max-width: 768px) {
	.question h3 {
		font-size: 0.7rem;
	}
	.row .col50 .imgbox {
		display: none;
	}
}
.contact {
	background-color: #0d1a21;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.ch1 {
	color: #77ac02;
	font-size: 1.5rem;
}
.icons ul {
	list-style: none;
}
.icons ul li {
	display: inline-block;
	padding: 2rem;
	padding-top: 4rem;
}
.icons ul li .fas,
.fab,
.fa {
	color: #77ac02;
	font-size: 2rem;
}
@media (max-width: 376px) {
	.icons ul li {
		padding: 1rem;
	}
}
.sponsors-head{
	color:#77ac02;
	text-align: center;
	font-size: 2.2rem;
}
.sponsors-list h2{
	margin-top: 1rem;
	text-align: center;
	color: #c0c1bc;
	font-size: 14px;
}
@media (max-width:700px){
.sponsors-list ul{
	list-style: none;
	justify-content: center; 
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.sponsors-list img{
	width: 15rem; 
	padding: 2rem; 
}
.ql{
	width: 10%;
}

}

@media (min-width:701px){
.sponsors-list ul{
	display: flex;
	list-style: none;
	align-items:center;
	justify-content: space-evenly;

}
.sponsors-list img{
	width: 15rem; 
	padding: 2.3rem;
	
	
}
}
